.centerdevices .browseriphone .mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: white;
}
.centerdevices .browseriphone .mask-img {
	width: 100%;
	display: block;
}
.centerdevices .browseriphone .browser {
	border-radius: 6px;
	background: linear-gradient(to bottom, rgba(233,232,233,1) 0%,rgba(212,212,213,1) 100%);
	background-size: 60px;
	box-shadow: 0 10px 20px rgba(40,39,66,.06);
	overflow: hidden;
	width: 900px;
	height: 560px;
	z-index: 2;
	padding: 30px 0 0 0;
	position: relative;
	margin-left: auto;
}
.centerdevices .browseriphone .browser:before {
	content: "\25CF \25CF \25CF";
	letter-spacing: -1px;
	border-radius: 10px;
	color: rgba(0,0,0,.05);
	background: -webkit-linear-gradient(left, rgba(255,99,91,1) 0%,rgba(255,99,91,1) 35%,rgba(255,99,91,1) 35%,rgba(255,195,48,1) 35%,rgba(255,195,48,1) 66%,rgba(41,207,66,1) 66%,rgba(41,207,66,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 26px;
	line-height: 30px;
	height: 30px;
	padding-left: 8px;
	position: absolute;
	top: 0;
}

.centerdevices .browseriphone .iphone {
	background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06), 0px 36px 79px -1px rgba(0,0,0,0.15);
	overflow: hidden;
	border-radius: 30px;
	width: 220px;
	height: 440px;
	padding: 50px 8px 60px;
	z-index: 3;
	position: absolute;
	top: 0;
	transform: translate3d(0,130px,0);
}
.centerdevices .browseriphone .iphone .mask {
	border-radius: 4px;
}

.centerdevices .browseriphone .iphone:after {
	content: "";
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(0,0,0,.05);
	position: absolute;
	top: calc(50% - 22px);
	right: 23px;
}
.centerdevices .browseriphone .iphone:after {
	top: initial;
	width: 38px;
	height: 38px;
	left: calc(50% - 19px);
	bottom: 12px;
}
.centerdevices .browseriphone .iphone:before {
	content: "";
	width: 50px;
	height: 7px;
	border-radius: 10px;
	background: rgba(0,0,0,.08);
	position: absolute;
	top: 24px;
	left: calc(50% - 25px);
}
@media (max-width: 1000px) {
	.centerdevices .browseriphone .browser {
		margin-left: 100px;
	}
}
@media (max-width: 900px) {
	.centerdevices .browseriphone {
		white-space: nowrap;
		overflow: scroll;
		margin-left: -20px;
		width: calc(100% + 40px;);
		-webkit-overflow-scrolling: touch;
		vertical-align: top;
	}
	.centerdevices .browseriphone .iphone {
		display: inline-block;
		vertical-align: top;
		position: relative;
		transform: none;
		margin: 0 20px;
	}
	.centerdevices .browseriphone .browser {
		height: 440px;
		width: 708px;
		display: inline-block;
		vertical-align: top;
		left: inherit;
		margin: 0 20px 0 0;
	}
}.centerdevices .iphoneipad2 .mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: -1px 1px 4px rgba(107,124,147,.45);
	background: white;
}
.centerdevices .iphoneipad2 .mask-img {
	width: 100%;
	display: block;
}
.centerdevices .iphoneipad2 .iphone,
.centerdevices .iphoneipad2 .ipad {
	border-radius: 40px;
	position: relative;
	background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06), 0px 36px 79px -1px rgba(0,0,0,0.15);
	overflow: hidden;
}
.centerdevices .iphoneipad2 .iphone {
	border-radius: 30px;
  width: 280px;
  height: 560px;
  z-index: 2;
  padding: 60px 12px 70px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-5deg);
}
.centerdevices .iphoneipad2 .iphone .mask {
	border-radius: 4px;
}
.centerdevices .iphoneipad2 .ipad {
	width: 830px;
	height: 560px;
	padding: 15px 85px;
	margin-left: auto;
	transform: rotate(5deg);
}

.centerdevices .iphoneipad2 .ipad:after,
.centerdevices .iphoneipad2 .iphone:after,
.centerdevices .iphoneipad2 .ipad:before {
	content: "";
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(0,0,0,.05);
	position: absolute;
	top: calc(50% - 22px);
	right: 23px;
}
.centerdevices .iphoneipad2 .ipad:after {
	left: 34px;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
}
.centerdevices .iphoneipad2 .iphone:after {
  top: initial;
  bottom: 14px;
  left: calc(50% - 22px);
}
.centerdevices .iphoneipad2 .iphone:before {
  content: "";
  width: 58px;
  height: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 28px;
  left: calc(50% - 29px);
}
@media screen and (max-width: 900px) {
	.centerdevices .iphoneipad2 {
		position: relative;
		white-space: nowrap;
		vertical-align: top;
		overflow: scroll;
		width: calc(100% + 40px);
		margin: 0 0 0 -20px;
		z-index: 99;
		-webkit-overflow-scrolling: touch;
	}
	.centerdevices .iphoneipad2 .iphone,
	.centerdevices .iphoneipad2 .ipad {
		transform: none;
		border: none;
		position: relative;
		box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06);
		background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
		margin: 0 20px;
		display: inline-block;
	}
	.centerdevices .iphoneipad2 .iphone {
		height: 440px;
		width: 220px;
		padding: 50px 8px 60px;
		margin: 0 0 0 20px;
		border-radius: 30px;
	}
	.centerdevices .iphoneipad2 .iphone .mask {
		border-radius: 4px;
	}
	.centerdevices .iphoneipad2 .iphone:before {
		top: 24px;
		width: 50px;
		height: 7px;
		left: calc(50% - 25px);
	}
	.centerdevices .iphoneipad2 .iphone:after {
		width: 38px;
		height: 38px;
		left: calc(50% - 19px);
		bottom: 12px;
	}
	.centerdevices .iphoneipad2 .ipad {
		width: 740px;
		height: 440px;
	}
	.centerdevices .iphoneipad2 .ipad:before {
		left: 23px;
		right: inherit;
	}
	.centerdevices .iphoneipad2 .ipad:after {
		right: 36px;
    left: inherit;
	}
}.centerdevices .iphoneipad2 .mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: -1px 1px 4px rgba(107,124,147,.45);
	background: white;
}
.centerdevices .iphoneipad2 .mask-img {
	width: 100%;
	display: block;
}
.centerdevices .iphoneipad2 .iphone,
.centerdevices .iphoneipad2 .ipad {
	border-radius: 40px;
	position: relative;
	background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06), 0px 36px 79px -1px rgba(0,0,0,0.15);
	overflow: hidden;
}
.centerdevices .iphoneipad2 .iphone {
	border-radius: 30px;
  width: 280px;
  height: 560px;
  z-index: 2;
  padding: 60px 12px 70px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-5deg);
}
.centerdevices .iphoneipad2 .iphone .mask {
	border-radius: 4px;
}
.centerdevices .iphoneipad2 .ipad {
	width: 830px;
	height: 560px;
	padding: 15px 85px;
	margin-left: auto;
	transform: rotate(5deg);
}

.centerdevices .iphoneipad2 .ipad:after,
.centerdevices .iphoneipad2 .iphone:after,
.centerdevices .iphoneipad2 .ipad:before {
	content: "";
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(0,0,0,.05);
	position: absolute;
	top: calc(50% - 22px);
	right: 23px;
}
.centerdevices .iphoneipad2 .ipad:after {
	left: 34px;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
}
.centerdevices .iphoneipad2 .iphone:after {
  top: initial;
  bottom: 14px;
  left: calc(50% - 22px);
}
.centerdevices .iphoneipad2 .iphone:before {
  content: "";
  width: 58px;
  height: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 28px;
  left: calc(50% - 29px);
}
@media screen and (max-width: 900px) {
	.centerdevices .iphoneipad2 {
		position: relative;
		white-space: nowrap;
		vertical-align: top;
		overflow: scroll;
		width: calc(100% + 40px);
		margin: 0 0 0 -20px;
		z-index: 99;
		-webkit-overflow-scrolling: touch;
	}
	.centerdevices .iphoneipad2 .iphone,
	.centerdevices .iphoneipad2 .ipad {
		transform: none;
		border: none;
		position: relative;
		box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06);
		background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
		margin: 0 20px;
		display: inline-block;
	}
	.centerdevices .iphoneipad2 .iphone {
		height: 440px;
		width: 220px;
		padding: 50px 8px 60px;
		margin: 0 0 0 20px;
		border-radius: 30px;
	}
	.centerdevices .iphoneipad2 .iphone .mask {
		border-radius: 4px;
	}
	.centerdevices .iphoneipad2 .iphone:before {
		top: 24px;
		width: 50px;
		height: 7px;
		left: calc(50% - 25px);
	}
	.centerdevices .iphoneipad2 .iphone:after {
		width: 38px;
		height: 38px;
		left: calc(50% - 19px);
		bottom: 12px;
	}
	.centerdevices .iphoneipad2 .ipad {
		width: 740px;
		height: 440px;
	}
	.centerdevices .iphoneipad2 .ipad:before {
		left: 23px;
		right: inherit;
	}
	.centerdevices .iphoneipad2 .ipad:after {
		right: 36px;
    left: inherit;
	}
}.sidedevices .browserwrapper .mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: white;
}
.sidedevices .browserwrapper .mask-img {
	width: 100%;
	display: block;
}
.sidedevices .browserwrapper .browser {
	border-radius: 6px;
	background: linear-gradient(to bottom, rgba(233,232,233,1) 0%,rgba(212,212,213,1) 100%);
	background-size: 60px;
	box-shadow: 0 10px 20px rgba(40,39,66,.06);
	overflow: hidden;
	width: 900px;
	height: 560px;
	z-index: 2;
	padding: 30px 0 0 0;
	top: 0;
	left: 0;
}
.sidedevices .browserwrapper .browser:before {
	content: "\25CF \25CF \25CF";
	letter-spacing: -1px;
	border-radius: 10px;
	color: rgba(0,0,0,.05);
	background: -webkit-linear-gradient(left, rgba(255,99,91,1) 0%,rgba(255,99,91,1) 35%,rgba(255,99,91,1) 35%,rgba(255,195,48,1) 35%,rgba(255,195,48,1) 66%,rgba(41,207,66,1) 66%,rgba(41,207,66,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
	font-size: 26px;
	line-height: 30px;
	height: 30px;
	padding-left: 8px;
	position: absolute;
	top: 0;
}

@media screen and (max-width: 900px) {
	.sidedevices .browserwrapper .header-images {
		position: relative;
		white-space: nowrap;
		vertical-align: top;
		overflow: scroll;
		width: calc(100% + 40px);
		margin: 0 0 0 -20px;
		padding-bottom: 60px;
		-webkit-overflow-scrolling: touch;
	}
	.sidedevices .browserwrapper .browser {
		width: 100%;
		height: calc(100vw * .65);
	}
}
.centerdevices .browseriphone .mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: white;
}
.centerdevices .browseriphone .mask-img {
	width: 100%;
	display: block;
}
.centerdevices .browseriphone .browser {
	border-radius: 6px;
	background: linear-gradient(to bottom, rgba(233,232,233,1) 0%,rgba(212,212,213,1) 100%);
	background-size: 60px;
	box-shadow: 0 10px 20px rgba(40,39,66,.06);
	overflow: hidden;
	width: 900px;
	height: 560px;
	z-index: 2;
	padding: 30px 0 0 0;
	position: relative;
	margin-left: auto;
}
.centerdevices .browseriphone .browser:before {
	content: "\25CF \25CF \25CF";
	letter-spacing: -1px;
	border-radius: 10px;
	color: rgba(0,0,0,.05);
	background: -webkit-linear-gradient(left, rgba(255,99,91,1) 0%,rgba(255,99,91,1) 35%,rgba(255,99,91,1) 35%,rgba(255,195,48,1) 35%,rgba(255,195,48,1) 66%,rgba(41,207,66,1) 66%,rgba(41,207,66,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 26px;
	line-height: 30px;
	height: 30px;
	padding-left: 8px;
	position: absolute;
	top: 0;
}

.centerdevices .browseriphone .iphone {
	background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06), 0px 36px 79px -1px rgba(0,0,0,0.15);
	overflow: hidden;
	border-radius: 30px;
	width: 220px;
	height: 440px;
	padding: 50px 8px 60px;
	z-index: 3;
	position: absolute;
	top: 0;
	transform: translate3d(0,130px,0);
}
.centerdevices .browseriphone .iphone .mask {
	border-radius: 4px;
}

.centerdevices .browseriphone .iphone:after {
	content: "";
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(0,0,0,.05);
	position: absolute;
	top: calc(50% - 22px);
	right: 23px;
}
.centerdevices .browseriphone .iphone:after {
	top: initial;
	width: 38px;
	height: 38px;
	left: calc(50% - 19px);
	bottom: 12px;
}
.centerdevices .browseriphone .iphone:before {
	content: "";
	width: 50px;
	height: 7px;
	border-radius: 10px;
	background: rgba(0,0,0,.08);
	position: absolute;
	top: 24px;
	left: calc(50% - 25px);
}
@media (max-width: 1000px) {
	.centerdevices .browseriphone .browser {
		margin-left: 100px;
	}
}
@media (max-width: 900px) {
	.centerdevices .browseriphone {
		white-space: nowrap;
		overflow: scroll;
		margin-left: -20px;
		width: calc(100% + 40px;);
		-webkit-overflow-scrolling: touch;
		vertical-align: top;
	}
	.centerdevices .browseriphone .iphone {
		display: inline-block;
		vertical-align: top;
		position: relative;
		transform: none;
		margin: 0 20px;
	}
	.centerdevices .browseriphone .browser {
		height: 440px;
		width: 708px;
		display: inline-block;
		vertical-align: top;
		left: inherit;
		margin: 0 20px 0 0;
	}
}.centerdevices .iphoneipad2 .mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: -1px 1px 4px rgba(107,124,147,.45);
	background: white;
}
.centerdevices .iphoneipad2 .mask-img {
	width: 100%;
	display: block;
}
.centerdevices .iphoneipad2 .iphone,
.centerdevices .iphoneipad2 .ipad {
	border-radius: 40px;
	position: relative;
	background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06), 0px 36px 79px -1px rgba(0,0,0,0.15);
	overflow: hidden;
}
.centerdevices .iphoneipad2 .iphone {
	border-radius: 30px;
  width: 280px;
  height: 560px;
  z-index: 2;
  padding: 60px 12px 70px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-5deg);
}
.centerdevices .iphoneipad2 .iphone .mask {
	border-radius: 4px;
}
.centerdevices .iphoneipad2 .ipad {
	width: 830px;
	height: 560px;
	padding: 15px 85px;
	margin-left: auto;
	transform: rotate(5deg);
}

.centerdevices .iphoneipad2 .ipad:after,
.centerdevices .iphoneipad2 .iphone:after,
.centerdevices .iphoneipad2 .ipad:before {
	content: "";
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(0,0,0,.05);
	position: absolute;
	top: calc(50% - 22px);
	right: 23px;
}
.centerdevices .iphoneipad2 .ipad:after {
	left: 34px;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
}
.centerdevices .iphoneipad2 .iphone:after {
  top: initial;
  bottom: 14px;
  left: calc(50% - 22px);
}
.centerdevices .iphoneipad2 .iphone:before {
  content: "";
  width: 58px;
  height: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 28px;
  left: calc(50% - 29px);
}
@media screen and (max-width: 900px) {
	.centerdevices .iphoneipad2 {
		position: relative;
		white-space: nowrap;
		vertical-align: top;
		overflow: scroll;
		width: calc(100% + 40px);
		margin: 0 0 0 -20px;
		z-index: 99;
		-webkit-overflow-scrolling: touch;
	}
	.centerdevices .iphoneipad2 .iphone,
	.centerdevices .iphoneipad2 .ipad {
		transform: none;
		border: none;
		position: relative;
		box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06);
		background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
		margin: 0 20px;
		display: inline-block;
	}
	.centerdevices .iphoneipad2 .iphone {
		height: 440px;
		width: 220px;
		padding: 50px 8px 60px;
		margin: 0 0 0 20px;
		border-radius: 30px;
	}
	.centerdevices .iphoneipad2 .iphone .mask {
		border-radius: 4px;
	}
	.centerdevices .iphoneipad2 .iphone:before {
		top: 24px;
		width: 50px;
		height: 7px;
		left: calc(50% - 25px);
	}
	.centerdevices .iphoneipad2 .iphone:after {
		width: 38px;
		height: 38px;
		left: calc(50% - 19px);
		bottom: 12px;
	}
	.centerdevices .iphoneipad2 .ipad {
		width: 740px;
		height: 440px;
	}
	.centerdevices .iphoneipad2 .ipad:before {
		left: 23px;
		right: inherit;
	}
	.centerdevices .iphoneipad2 .ipad:after {
		right: 36px;
    left: inherit;
	}
}.centerdevices .iphoneipad2 .mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: -1px 1px 4px rgba(107,124,147,.45);
	background: white;
}
.centerdevices .iphoneipad2 .mask-img {
	width: 100%;
	display: block;
}
.centerdevices .iphoneipad2 .iphone,
.centerdevices .iphoneipad2 .ipad {
	border-radius: 40px;
	position: relative;
	background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06), 0px 36px 79px -1px rgba(0,0,0,0.15);
	overflow: hidden;
}
.centerdevices .iphoneipad2 .iphone {
	border-radius: 30px;
  width: 280px;
  height: 560px;
  z-index: 2;
  padding: 60px 12px 70px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-5deg);
}
.centerdevices .iphoneipad2 .iphone .mask {
	border-radius: 4px;
}
.centerdevices .iphoneipad2 .ipad {
	width: 830px;
	height: 560px;
	padding: 15px 85px;
	margin-left: auto;
	transform: rotate(5deg);
}

.centerdevices .iphoneipad2 .ipad:after,
.centerdevices .iphoneipad2 .iphone:after,
.centerdevices .iphoneipad2 .ipad:before {
	content: "";
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(0,0,0,.05);
	position: absolute;
	top: calc(50% - 22px);
	right: 23px;
}
.centerdevices .iphoneipad2 .ipad:after {
	left: 34px;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
}
.centerdevices .iphoneipad2 .iphone:after {
  top: initial;
  bottom: 14px;
  left: calc(50% - 22px);
}
.centerdevices .iphoneipad2 .iphone:before {
  content: "";
  width: 58px;
  height: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 28px;
  left: calc(50% - 29px);
}
@media screen and (max-width: 900px) {
	.centerdevices .iphoneipad2 {
		position: relative;
		white-space: nowrap;
		vertical-align: top;
		overflow: scroll;
		width: calc(100% + 40px);
		margin: 0 0 0 -20px;
		z-index: 99;
		-webkit-overflow-scrolling: touch;
	}
	.centerdevices .iphoneipad2 .iphone,
	.centerdevices .iphoneipad2 .ipad {
		transform: none;
		border: none;
		position: relative;
		box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06);
		background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
		margin: 0 20px;
		display: inline-block;
	}
	.centerdevices .iphoneipad2 .iphone {
		height: 440px;
		width: 220px;
		padding: 50px 8px 60px;
		margin: 0 0 0 20px;
		border-radius: 30px;
	}
	.centerdevices .iphoneipad2 .iphone .mask {
		border-radius: 4px;
	}
	.centerdevices .iphoneipad2 .iphone:before {
		top: 24px;
		width: 50px;
		height: 7px;
		left: calc(50% - 25px);
	}
	.centerdevices .iphoneipad2 .iphone:after {
		width: 38px;
		height: 38px;
		left: calc(50% - 19px);
		bottom: 12px;
	}
	.centerdevices .iphoneipad2 .ipad {
		width: 740px;
		height: 440px;
	}
	.centerdevices .iphoneipad2 .ipad:before {
		left: 23px;
		right: inherit;
	}
	.centerdevices .iphoneipad2 .ipad:after {
		right: 36px;
    left: inherit;
	}
}.sidedevices .iphoneandroid .mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: -1px 1px 4px rgba(107,124,147,.45);
	background: white;
}
.sidedevices .iphoneandroid .mask-img {
	width: 100%;
	display: block;
}
.sidedevices .iphoneandroid .iphone {
	border-radius: 40px;
	background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06);
	overflow: hidden;
	width: 280px;
	height: 560px;
	z-index: 2;
	padding: 60px 12px 70px;
	margin-left: auto;
	position: relative;
}
.sidedevices .iphoneandroid .iphone:after {
	content: "";
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(0,0,0,.05);
	position: absolute;
	bottom: 14px;
	left: calc(50% - 22px);
}
.sidedevices .iphoneandroid .iphone:before {
	content: "";
	width: 58px;
	height: 10px;
	border-radius: 10px;
	background: rgba(0,0,0,.08);
	position: absolute;
	top: 28px;
	left: calc(50% - 29px);
}
.sidedevices .iphoneandroid .android {
	border-radius: 5px;
	background: linear-gradient(to right, rgba(55,55,55,1) 0%,rgba(22,22,22,1) 100%);
	width: 280px;
	height: 560px;
	padding: 35px 12px;
	position: absolute;
	left: 0;
	top: 0;
	border: 4px solid #58595e;
	transform: scale(.86) translate3d(-10%,0,0);
}
.sidedevices .iphoneandroid .android .mask {
	border-radius: 4px;
}
.sidedevices .iphoneandroid .android:before,
.sidedevices .iphoneandroid .android:after {
	content: "\25CF";
	text-align: center;
	font-size: 40px;
	line-height: 46px;
	color: rgba(255,255,255,0.1);
	width: calc(100% + 8px);
	height: 30px;
	border-radius: 50% 50% 0 0;
	position: absolute;
	top: -17px;
	left: -4px;
	border-width: 4px;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: #58595e;
	background: linear-gradient(to right, rgba(55,55,55,1) 0%,rgba(22,22,22,1) 100%);
}
.sidedevices .iphoneandroid .android:after {
	content: "";
	top: initial;
	bottom: -17px;
	border-top: none;
	border-width: 0 4px 4px 4px;
	border-radius: 0 0 50% 50%;
}
@media screen and (max-width: 800px) {
	.sidedevices .iphoneandroid .sidedevices .iphoneandroid {
		position: relative;
		white-space: nowrap;
		vertical-align: top;
		overflow-x: scroll;
		width: calc(100% + 40px);
		margin: 0 0 0 -20px;
		-webkit-overflow-scrolling: touch;
	}
	.sidedevices .iphoneandroid .sidedevices .iphoneandroid .iphone {
		transform: none;
		border: none;
		position: relative;
		box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06);
		background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
		margin: 0 20px;
		display: inline-block;
		vertical-align: top;
		height: 440px;
		width: 220px;
		padding: 50px 8px 60px;
		border-radius: 30px;
		margin: 0 0 0 20px;
	}
	.sidedevices .iphoneandroid .sidedevices .iphoneandroid .iphone .mask {
		border-radius: 4px;
	}
	.sidedevices .iphoneandroid .sidedevices .iphoneandroid .iphone:before {
		top: 24px;
		width: 50px;
		height: 7px;
		left: calc(50% - 25px);
	}
	.sidedevices .iphoneandroid .sidedevices .iphoneandroid .iphone:after {
		width: 38px;
		height: 38px;
		left: calc(50% - 19px);
		bottom: 12px;
	}
	.sidedevices .iphoneandroid .sidedevices .iphoneandroid .android {
		position: relative;
		display: inline-block;
		vertical-align: top;
		height: 440px;
		width: 220px;
		margin: 0 20px;
		transform: scale(0.925);
		top: 5px;
	}
}